.field-set {
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 15px;
  position: relative;

  legend {
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    top: -22px;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
  }

  .content {
    font-size: 16px;
  }
}
