<app-page-header header="Color Picker" description="Pick your color"></app-page-header>

<div class="mt-4">
  <div class="col-12 d-flex justify-content-center">
    <div class="cur-col" style="--color: {{hexValue}}"></div>
    <app-color-palette [hue]="hue" (color)="onSelectColor($event)"></app-color-palette>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <app-color-slider (color)="hue=$event"></app-color-slider>
  </div>
  <div class="row">
    <div class="col-12 text-center">

      <app-field-set legend="HEX">
        <ng-template #content>
          <p class="m-2">
            {{ hexValue }}
            <i class="fa-regular fa-copy mx-2" style="cursor: pointer" (click)="copy(hexValue)"></i>
          </p>
        </ng-template>
      </app-field-set>
    </div>
    <div class="col-3">
      <app-field-set legend="RGB">
        <ng-template #content>
          <p class="m-2">
            {{ rgbValue }}
          </p>
        </ng-template>
      </app-field-set>
    </div>
    <div class="col-3">
      <app-field-set legend="CMYK">
        <ng-template #content>
          <p class="m-2">
            {{ cmykValue }}
          </p>
        </ng-template>
      </app-field-set>
    </div>
    <div class="col-3">
      <app-field-set legend="HSV">
        <ng-template #content>
          <p class="m-2">
            {{ hsvValue }}
          </p>
        </ng-template>
      </app-field-set>
    </div>
    <div class="col-3">
      <app-field-set legend="HSL">
        <ng-template #content>
          <p class="m-2">
            {{ hslValue }}
          </p>
        </ng-template>
      </app-field-set>
    </div>
  </div>
</div>
