<div class="row mt-2">
  <div class="col-6">
    Free text
    <textarea class="w-100" id="float-input" rows="5" cols="30" [(ngModel)]="value"></textarea>
    <div>
      QR Code Color:
      <input type="color" id="head" name="head" [(ngModel)]="colorDark" />
      Dot
      <input type="color" id="body" name="body"  [(ngModel)]="colorLight" />
      Background
    </div>
  </div>
  <div class="col-6">
    Live preview
    <div class="qr-container d-flex justify-content-center align-items-center">
      @if (value) {
        <qrcode #qrcode [qrdata]="value" [colorDark]="colorDark" [width]="50 + 1.75 * qrSize"
                [colorLight]="colorLight"></qrcode>
      }
    </div>
    @if (value) {
      <div class="row text-center mt-2">
        <mat-slider min="1" max="100" step="1" class="w-100">
          <input matSliderThumb [(ngModel)]="qrSize">
        </mat-slider>
        <button mat-stroked-button (click)="downloadQrCodeImage()">
          <mat-icon aria-hidden="false" fontIcon="download"></mat-icon>
          Download
        </button>
      </div>
    }
  </div>
</div>
