.sidebar-container {
  width: 20vw;
  background-color: #262626;
}

.main-container {
  height: 100vh;
  background-color: #1c1c1c;
}

.side-menu-toggle {
  background: #262626;
  height: 30px;
  width: fit-content;
  min-width: 10px;
}
