<div class="container">
  <h1>JSON Formatter</h1>
  <div class="row">
    <div class="col-5">
      <label for="unformattedJson">Unformatted JSON:</label>
      <textarea id="unformattedJson" [(ngModel)]="baseValue" rows="25" class="form-control"></textarea>
    </div>
    <div class="col-2 align-items-center d-flex justify-content-center">
      <button (click)="onBaseValueChange()" class="btn btn-primary">Format JSON</button>
    </div>
    <div class="col-5 h-100">
      <label for="formattedJson">Formatted JSON:</label>
      <textarea id="formattedJson" [value]="resultValue" rows="25" class="form-control" readonly></textarea>
    </div>
  </div>
</div>
