<div class="p-2">
  @for (menuGroup of menu; track menuGroup.name) {
    <div class="side-menu-item my-1">
      <button class="btn p-0 text-white" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+$index"
              aria-expanded="false" [attr.aria-controls]="$index">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        {{ menuGroup.name }}
      </button>

      @if (menuGroup.items) {
        <div class="collapse show" [id]="$index">
          @for (subItem of menuGroup.items; track subItem.name) {
            <div class="side-menu-sub-item my-1 d-flex align-items-center" role="button" (click)="onMenuClick(subItem.routerLink)">
              @if (subItem.icon) {
                <img [ngSrc]="subItem.icon" [alt]="subItem.name" width="15" height="15" priority>
              }
              <span class="ms-2 menu-name">{{ subItem.name }}</span>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
