@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Wix Madefor Display", sans-serif !important;
}
