:host ::ng-deep mat-form-field.input-field {
  .mat-mdc-form-field-infix {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .mdc-text-field--filled {
    height: 40px !important;
  }

  .mat-mdc-form-field-infix {
    min-height: 40px !important;
  }
}
