<app-page-header header="Text Generator" description=""></app-page-header>

<div class="row d-flex align-items-center mt-3">
  <div class="col-2">
    <label>Your length:</label>
  </div>
  <div class="col-10">
    <mat-form-field class="input-field">
      <input matInput type="number" [(ngModel)]="length" (ngModelChange)="generateParagraph()">
    </mat-form-field>
  </div>
</div>
<div class="col-12 mt-3">
  <mat-form-field class="w-100">
    <textarea matInput rows="10" [(ngModel)]="paragraph"></textarea>
  </mat-form-field>

  <button class="btn btn-primary my-2" (click)="copyString(paragraph)"><i class="fa-regular fa-copy me-2"></i>Copy to clipboard</button>
</div>
